
<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no">
	<title>Travel the World - Travel Website</title>
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="css/jquery-ui-1.10.1.custom.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="css/normalize.css" type="text/css" media="screen"/>
	<link rel="stylesheet" id="camera-css"  href="css/flexslider.css" type="text/css" media="all"/>
	<link rel="stylesheet" href="css/grid.css" type="text/css" media="screen"/>
    <link href="css/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="css/jquery.fancybox-1.3.4.css" rel="stylesheet" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'/>
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'/>
	<link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'/>
    

	<script src="js/jquery-1.8.2.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="js/jquery-ui-1.10.1.custom.min.js"></script>
	<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
	<!--Google Maps-->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false" type="text/javascript"></script>
     <!--End Google Maps-->
	<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.src.js"></script>
	<![endif]-->
	
    <link href="css/coordMap.css" rel="stylesheet" type="text/css" />
    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link href="css/slide/style.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="css/slide/settings.css" media="screen" />
    <noscript>
			<link rel="stylesheet" type="text/css" href="css/nojs.css" />
		</noscript>	
</head>

<body>

    <div class="menu-top">	
        <div class="container clearfix">
         <!-- Logo -->
            <div id="logo" class="fleft">
                <a href="javascript:void(0);"><img src="../images/logo.png" alt=""/></a>
            </div>
		    <!-- Navigation -->
            <div id="nav" class="fright">
                <ul class="navigation">
                    <li data-slide="1">Home</li>
                    <li data-slide="2">About</li>
                    <li data-slide="4">Tours</li>
                    <li data-slide="6">Gallery</li>
                    <li data-slide="10">Contact</li>
                
                </ul>
                <div class="clear"></div>
            </div>
	   
        </div>
       
    </div>
   
 <div class="clear"></div>
  <!-- SlideShow -->
<div class="slidePoint" id="slide0" data-slide="1" data-stellar-background-ratio="0.5">
    <div class="padding_slide1">
        <div class="clearfix">

                    <div style="margin-bottom:0;">
                       
                        <div class="fullwidthbanner-container">					
                            <div class="fullwidthbanner">
                              
                                <ul>
                                    <li data-transition="fade" data-slotamount="5" data-thumb="#"> 										
                                        <img src="http://placehold.it/2560x1400" alt=""/>									
                                        <div class="caption lfl small_text monitor-view" data-x="-20" data-y="100" data-speed="900" data-start="1300" data-easing="easeOutExpo">
                                            <div class='grid-ads'>
                                              
                                                <img src="../images/slides/banner_new1.jpg" alt=""/>
                                                   <div class='content-ads'>
                                                        <h3>Hotel Mogadish</h3>
                                                        <p>All Inclusive</p>
                                                        <p>$899 / 7 Night</p>
                                                        <a href="info.html">More Details</a>
                                                   </div>
                                               
                                            </div>
                                         </div>
                                        <div class="caption lfb small_text monitor-view" data-x="300" data-y="100" data-speed="700" data-start="1300" data-easing="easeOutExpo">
                                            <div class='grid-ads'>
                                              
                                                <img src="../slides/banner_new2.jpg" alt=""/>
                                                   <div class='content-ads'>
                                                        <h3>Hotel Mogadish</h3>
                                                        <p>All Inclusive</p>
                                                        <p>$899 / 7 Night</p>
                                                        <a href="info.html">More Details</a>
                                                   </div>
                                               
                                            </div>
                                        </div>
                                        <div class="caption lfr small_text monitor-view" data-x="620" data-y="100" data-speed="500" data-start="1300" data-easing="easeOutExpo">
                                            <div class='grid-ads'>
                                              
                                                <img src="../images/slides/banner_new3.jpg" alt=""/>
                                                   <div class='content-ads'>
                                                        <h3>Hotel Mogadish</h3>
                                                        <p>All Inclusive</p>
                                                        <p>$899 / 7 Night</p>
                                                        <a href="info.html">More Details</a>
                                                   </div>
                                               
                                            </div>
                                        </div>
                                        <!--DEvice view-->
                                        <div class="caption lfb small_text device" data-x="120" data-y="70" data-speed="900" data-start="1300" data-easing="easeOutExpo">
                                            <div class='grid-ads'>
                                              
                                                   <div class='img-slide-con'><img src="../images/slides/banner_new1.jpg" alt=""/></div>
                                                   <div class='content-ads'>
                                                        <h3>Hotel Mogadish</h3>
                                                        <p>All Inclusive</p>
                                                        <p>$899 / 7 Night</p>
                                                        <a href="info.html">More Details</a>
                                                   </div>
                                               
                                            </div>
                                         </div>
                                        <div class="caption lfb small_text device ss2" data-x="120" data-y="260" data-speed="700" data-start="1300" data-easing="easeOutExpo">
                                            <div class='grid-ads'>
                                              
                                                <div class='img-slide-con'><img src="../images/slides/banner_new2.jpg" alt=""/></div>
                                                   <div class='content-ads'>
                                                        <h3>Hotel Mogadish</h3>
                                                        <p>All Inclusive</p>
                                                        <p>$899 / 7 Night</p>
                                                        <a href="info.html">More Details</a>
                                                   </div>
                                               
                                            </div>
                                        </div>
                                        <div class="caption lfb small_text device ss3" data-x="120" data-y="450" data-speed="500" data-start="1300" data-easing="easeOutExpo">
                                            <div class='grid-ads'>
                                              
                                                <div class='img-slide-con'><img src="../images/slides/banner_new3.jpg" alt=""/></div>
                                                   <div class='content-ads'>
                                                        <h3>Hotel Mogadish</h3>
                                                        <p>All Inclusive</p>
                                                        <p>$899 / 7 Night</p>
                                                        <a href="info.html">More Details</a>
                                                   </div>
                                               
                                            </div>
                                        </div>
                                    </li>
                                    <li data-transition="slideright" data-slotamount="6" data-thumb="#"> 
                                        <img src="http://placehold.it/2560x1400" alt=""/>		                  
                                        <div class="caption lfr small_text monitor-view" data-x="-20" data-y="100" data-speed="900" data-start="1300" data-easing="easeOutExpo">
                                            <div class='grid-ads'>
                                                <img src="../images/slides/banner_new4.jpg" alt=""/>
                                                   <div class='content-ads'>
                                                        <h3>Hotel Mogadish</h3>
                                                        <p>All Inclusive</p>
                                                        <p>$899 / 7 Night</p>
                                                        <a href="info.html">More Details</a>
                                                   </div>
                                            </div>
                                        </div>
                                        <div class="caption lfr small_text monitor-view" data-x="300" data-y="100" data-speed="700" data-start="1300" data-easing="easeOutExpo">
                                            <div class='grid-ads'>
                                                <img src="../images/slides/banner_new3.jpg" alt=""/>
                                                   <div class='content-ads'>
                                                        <h3>Hotel Mogadish</h3>
                                                        <p>All Inclusive</p>
                                                        <p>$899 / 7 Night</p>
                                                        <a href="info.html">More Details</a>
                                                   </div>
                                            </div>
                                         </div>
                                        <div class="caption lfr small_text monitor-view" data-x="620" data-y="100" data-speed="500" data-start="1300" data-easing="easeOutExpo">
                                            <div class='grid-ads'>
                                                <img src="images/slides/banner_new2.jpg" alt=""/>
                                                   <div class='content-ads'>
                                                        <h3>Hotel Mogadish</h3>
                                                        <p>All Inclusive</p>
                                                        <p>$899 / 7 Night</p>
                                                        <a href="info.html">More Details</a>
                                                   </div>
                                            </div>
                                        </div>	
                                        
                                        <!--DEvice view-->
                                        <div class="caption lfb small_text device" data-x="120" data-y="70" data-speed="900" data-start="1300" data-easing="easeOutExpo">
                                            <div class='grid-ads'>
                                                   <div class='img-slide-con'><img src="../images/slides/banner_new4.jpg" alt=""/></div>
                                                   <div class='content-ads'>
                                                        <h3>Hotel Mogadish</h3>
                                                        <p>All Inclusive</p>
                                                        <p>$899 / 7 Night</p>
                                                        <a href="info.html">More Details</a>
                                                   </div>
                                            </div>
                                        </div>
                                        <div class="caption lfb small_text device ss2" data-x="120" data-y="260" data-speed="700" data-start="1300" data-easing="easeOutExpo">
                                            <div class='grid-ads'>
                                                   <div class='img-slide-con'><img src="images/slides/banner_new3.jpg" alt=""/></div>
                                                   <div class='content-ads'>
                                                        <h3>Hotel Mogadish</h3>
                                                        <p>All Inclusive</p>
                                                        <p>$899 / 7 Night</p>
                                                        <a href="info.html">More Details</a>
                                                   </div>
                                            </div>
                                         </div>
                                        <div class="caption lfb small_text device ss3" data-x="120" data-y="450" data-speed="500" data-start="1300" data-easing="easeOutExpo">
                                            <div class='grid-ads'>
                                                   <div class='img-slide-con'><img src="../images/slides/banner_new2.jpg" alt=""/></div>
                                                   <div class='content-ads'>
                                                        <h3>Hotel Mogadish</h3>
                                                        <p>All Inclusive</p>
                                                        <p>$899 / 7 Night</p>
                                                        <a href="info.html">More Details</a>
                                                   </div>
                                            </div>
                                        </div>	
                                    </li>
                                   
                                </ul>	
                                <div class="tp-bannertimer"></div>												
                            </div>					
                        </div>    
 
                    </div>
                    <div class="clear"></div>
 
        </div>
    </div>
</div>
<!-- End SlideShow -->


<div class="slidePoint" id="slide8" data-slide="8" data-stellar-background-ratio="0.5">
	<div class="padding_slide8">
		<div class="container clearfix">
			
			<div class="form_bg">

					<img class="icon_img" src="../images/icon1.jpg" alt=""/>
					<a class="hol_offers" href="javascript:void(0);">See all Holiday offers</a>
					<h4>WHERE DO YOU WANT TO TRAVEL?</h4>
					<div class="clear"></div>
				
				<div class="travel_form">
					<div class="grid_6 radio_block">
						<p><input id="africa" type="radio" name="5" title="Africa" checked="checked"  value="1" class="styled" /> Africa</p>
						<p><input id="europe" type="radio" name="5" title="Europe" value="2" class="styled" /> Europe</p>
						<p><input id="c_america" type="radio" name="5" title="Central America" value="3" class="styled" /> Central America</p>
						<p><input id="australia" type="radio" name="5" title="Australia" value="4" class="styled" /> Australia</p>
						<p><input id="n_america" type="radio" name="5" title="North America" value="5" class="styled" /> North America</p>
						<p><input id="carribean" type="radio" name="5" title="Carribean" value="6" class="styled" /> Carribean</p>
						<p><input id="asia" type="radio" name="5" title="Asia & Pacific" value="7" class="styled" /> Asia & Pacific</p>
						<p><input id="s_america" type="radio" name="5" title="South America" value="8" class="styled" /> South America</p>
						<p><input id="middle_east" type="radio" name="5" title="Middle East" value="9" class="styled" /> Middle East</p>
					</div>
					<div class="grid_6 omega order_block">
						<form method="post" action="#">
							<input type="text" id="datepicker" value="Check-in date" onfocus="if (this.value == 'Check-in date') this.value = '';" onblur="if (this.value == '') this.value = 'Check-in date';" />
							<input type="text" id="datepicker2" value="Check-out date" onfocus="if (this.value == 'Check-out date') this.value = '';" onblur="if (this.value == '') this.value = 'Check-out date';" />
							<input class="email_form" type="text" name="text" value="Departure city" onfocus="if (this.value == 'Departure city') this.value = '';" onblur="if (this.value == '') this.value = 'Departure city';" />
							<input type="submit" class="form_btn"  value="Find Vacations" />
						</form>
					</div>
				    <div class="clear"></div>
                    <div class="container clearfix">
		                <div class="grid_12 columns">

						    <div class="caption-container m-bot-20">
							    <div id="txtState" class="caption-text-container">AFRICA</div>
							    <div class="content-container-white caption-bg clearfix"></div>
							    <div class="carousel-navi jcarousel-scroll">
								    <div class="jcarousel-prev active" data-jcarouselcontrol="true"></div>
								    <div class="jcarousel-next active" data-jcarouselcontrol="true"></div>
							    </div>
						    </div>
			
		                </div>
	                </div>
                    <div  class="jcarousel container latest-work-jc m-bot-35" style="height: 197px;" data-jcarousel="true">
			                <ul id="ulCarousel" style="left: 0;">
				                <!-- LATEST WORK ITEM -->
				                <li class="four columns">
						                <div class="content-container-white hover-item">
							                <div class="view view-first">
							                    <img class="imgTop" alt="Ipsum" src="../images/carousel/africa/port-2-1.jpg"/>
								                <div class="abs">
									                <a id="h0" class="fancybox zoom info" href="images/content/africa/port-big-1.jpg"></a><a class="link info" href="info.html"></a>
								                </div>	
							                </div>
							                <div class="lw-item-caption-container">
								                <a id="title0" href="#" class="a-invert">Benin</a>
							                    <div class="item-caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                                                <div class="extra_trip_top">
                                                    <i class="icon-comment"><span>192</span></i>
                                                    <i class="icon-map-marker">
                                                         <a id="map0" class="show_maps" href="https://maps.google.com.mt/maps?f=q&amp;source=s_q&amp;hl=it&amp;geocode=&amp;q=africa&amp;aq=&amp;sll=-8.783195,34.508523&amp;sspn=121.214187,270.527344&amp;gl=mt&amp;g=Africa&amp;ie=UTF8&amp;hq=&amp;hnear=Africa&amp;ll=-8.783195,34.508523&amp;spn=71.733665,135.263672&amp;t=h&amp;z=4&amp;output=embed" >Show maps</a>
                                                    </i>
                                                   
                                              </div>
							                </div>
						                </div>
				                </li>

				                <!-- LATEST WORK ITEM -->
				                <li class="four columns">
						                <div class="content-container-white hover-item">
							                <div class="view view-first">
							                    <img alt="Ipsum" src="../images/carousel/africa/port-2-2.jpg"/>
								                <div class="abs">
									                <a id="h1" class="fancybox zoom info" href="images/content/africa/port-big-2.jpg"></a><a class="link info" href="info.html"></a>
								                </div>	
							                </div>
							                <div  class="lw-item-caption-container">
								                <a id="title1" href="#" class="a-invert">Gambia</a>
								                <div class="item-caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                                                <div class="extra_trip_top">
                                                    <i class="icon-comment"><span>192</span></i>
                                                    <i class="icon-map-marker">
                                                         <a id="map1" class="show_maps" href="https://maps.google.com.mt/maps?f=q&amp;source=s_q&amp;hl=it&amp;geocode=&amp;q=africa&amp;aq=&amp;sll=-8.783195,34.508523&amp;sspn=121.214187,270.527344&amp;gl=mt&amp;g=Africa&amp;ie=UTF8&amp;hq=&amp;hnear=Africa&amp;ll=-8.783195,34.508523&amp;spn=71.733665,135.263672&amp;t=h&amp;z=4&amp;output=embed" >Show maps</a>
                                                    </i>
                                                   
                                              </div>
							                </div>
						                </div>
				                </li>

				                <!-- LATEST WORK ITEM -->
				                <li class="four columns">
						                <div class="content-container-white hover-item">
							                <div class="view view-first">
							                    <img alt="Ipsum" src="../images/carousel/africa/port-2-3.jpg"/>
								                <div class="abs">
									                <a id="h2" class="fancybox zoom info" href="images/content/africa/port-big-3.jpg"></a><a class="link info" href="info.html"></a>
								                </div>	
							                </div>
							                <div  class="lw-item-caption-container">
								                <a id="title2" href="#" class="a-invert">Egypt</a>
								                <div class="item-caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                                                <div class="extra_trip_top">
                                                    <i class="icon-comment"><span>192</span></i>
                                                    <i class="icon-map-marker">
                                                         <a id="map2" class="show_maps" href="https://maps.google.com.mt/maps?f=q&amp;source=s_q&amp;hl=it&amp;geocode=&amp;q=africa&amp;aq=&amp;sll=-8.783195,34.508523&amp;sspn=121.214187,270.527344&amp;gl=mt&amp;g=Africa&amp;ie=UTF8&amp;hq=&amp;hnear=Africa&amp;ll=-8.783195,34.508523&amp;spn=71.733665,135.263672&amp;t=h&amp;z=4&amp;output=embed" >Show maps</a>
                                                    </i>
                                                   
                                              </div>
							                </div>
						                </div>
				                </li>

				                <!-- LATEST WORK ITEM -->
				                <li class="four columns">
						                <div class="content-container-white hover-item">
							                <div class="view view-first">
							                    <img alt="Ipsum" src="../images/carousel/africa/port-2-4.jpg"/>
								                <div class="abs">
									                <a id="h3" class="fancybox zoom info" href="images/content/africa/port-big-4.jpg"></a><a class="link info" href="info.html"></a>
								                </div>	
							                </div>
							                <div class="lw-item-caption-container">
								                <a id="title3" href="#" class="a-invert"><span>Malawi</span></a>
								                <div class="item-caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                                                <div class="extra_trip_top">
                                                    <i class="icon-comment"><span>192</span></i>
                                                    <i class="icon-map-marker">
                                                         <a id="map3" class="show_maps" href="https://maps.google.com.mt/maps?f=q&amp;source=s_q&amp;hl=it&amp;geocode=&amp;q=africa&amp;aq=&amp;sll=-8.783195,34.508523&amp;sspn=121.214187,270.527344&amp;gl=mt&amp;g=Africa&amp;ie=UTF8&amp;hq=&amp;hnear=Africa&amp;ll=-8.783195,34.508523&amp;spn=71.733665,135.263672&amp;t=h&amp;z=4&amp;output=embed" >Show maps</a>
                                                    </i>
                                                   
                                              </div>
							                </div>
						                </div>
				                </li>

				                <!-- LATEST WORK ITEM -->
				                <li class="four columns">
						                <div class="content-container-white hover-item">
							                <div class="view view-first">
							                    <img alt="Ipsum" src="../images/carousel/africa/port-2-5.jpg"/>
								                <div class="abs">
									                <a id="h4" class="fancybox zoom info" href="images/content/africa/port-big-5.jpg"></a><a class="link info" href="info.html"></a>
								                </div>	
							                </div>
							                <div class="lw-item-caption-container">
								                <a id="title4" href="#" class="a-invert"><span>Zambia</span></a>
								                <div class="item-caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                                                <div class="extra_trip_top">
                                                    <i class="icon-comment"><span>192</span></i>
                                                    <i class="icon-map-marker">
                                                         <a id="map4" class="show_maps" href="https://maps.google.com.mt/maps?f=q&amp;source=s_q&amp;hl=it&amp;geocode=&amp;q=africa&amp;aq=&amp;sll=-8.783195,34.508523&amp;sspn=121.214187,270.527344&amp;gl=mt&amp;g=Africa&amp;ie=UTF8&amp;hq=&amp;hnear=Africa&amp;ll=-8.783195,34.508523&amp;spn=71.733665,135.263672&amp;t=h&amp;z=4&amp;output=embed" >Show maps</a>
                                                    </i>
                                                   
                                              </div>
							                </div>
						                </div>
				                </li>

				                <!-- LATEST WORK ITEM -->
				                <li class="four columns">
						                <div class="content-container-white hover-item">
							                <div class="view view-first">
							                    <img alt="Ipsum" src="../images/carousel/africa/port-2-6.jpg"/>
								                <div class="abs">
									                <a id="h5" class="fancybox zoom info" href="images/content/africa/port-big-6.jpg"></a><a class="link info" href="info.html"></a>
								                </div>	
							                </div>
							                <div class="lw-item-caption-container">
								                <a id="title5" href="#" class="a-invert"><span>Niger</span></a>
								                <div class="item-caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                                                <div class="extra_trip_top">
                                                    <i class="icon-comment"><span>192</span></i>
                                                    <i class="icon-map-marker">
                                                         <a id="map5" class="show_maps" href="https://maps.google.com.mt/maps?f=q&amp;source=s_q&amp;hl=it&amp;geocode=&amp;q=africa&amp;aq=&amp;sll=-8.783195,34.508523&amp;sspn=121.214187,270.527344&amp;gl=mt&amp;g=Africa&amp;ie=UTF8&amp;hq=&amp;hnear=Africa&amp;ll=-8.783195,34.508523&amp;spn=71.733665,135.263672&amp;t=h&amp;z=4&amp;output=embed" >Show maps</a>
                                                    </i>
                                                   
                                              </div>
							                </div>
						                </div>
				                </li>
				
				                <!-- LATEST WORK ITEM -->
				                <li class="four columns">
						                <div class="content-container-white hover-item">
							                <div class="view view-first">
							                    <img alt="Ipsum" src="../images/carousel/africa/port-2-7.jpg"/>
								                <div class="abs">
									                <a id="h6" class="fancybox zoom info" href="images/content/africa/port-big-7.jpg"></a><a class="link info" href="info.html"></a>
								                </div>	
							                </div>
							                <div class="lw-item-caption-container">
								                <a id="title6" href="#" class="a-invert"><span>Madacascar</span></a>
								                <div class="item-caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                                                <div class="extra_trip_top">
                                                    <i class="icon-comment"><span>192</span></i>
                                                    <i class="icon-map-marker">
                                                         <a id="map6" class="show_maps" href="https://maps.google.com.mt/maps?f=q&amp;source=s_q&amp;hl=it&amp;geocode=&amp;q=africa&amp;aq=&amp;sll=-8.783195,34.508523&amp;sspn=121.214187,270.527344&amp;gl=mt&amp;g=Africa&amp;ie=UTF8&amp;hq=&amp;hnear=Africa&amp;ll=-8.783195,34.508523&amp;spn=71.733665,135.263672&amp;t=h&amp;z=4&amp;output=embed" >Show maps</a>
                                                    </i>
                                                   
                                              </div>
							                </div>
						                </div>
				                </li>

				                <!-- LATEST WORK ITEM -->
				                <li class="four columns">
						                <div class="content-container-white hover-item">
							                <div class="view view-first">
							                    <img alt="Ipsum" src="../images/carousel/africa/port-2-8.jpg"/>
								                <div class="abs">
									                <a id="h7" class="fancybox zoom info" href="images/content/africa/port-big-8.jpg"></a><a class="link info" href="info.html"></a>
								                </div>	
							                </div>
							                <div class="lw-item-caption-container">
								                <a id="title7" href="#" class="a-invert"><span class="bold">Lorem</span></a>
								                <div class="item-caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                                                <div class="extra_trip_top">
                                                    <i class="icon-comment"><span>192</span></i>
                                                    <i class="icon-map-marker">
                                                         <a id="map7" class="show_maps" href="https://maps.google.com.mt/maps?f=q&amp;source=s_q&amp;hl=it&amp;geocode=&amp;q=africa&amp;aq=&amp;sll=-8.783195,34.508523&amp;sspn=121.214187,270.527344&amp;gl=mt&amp;g=Africa&amp;ie=UTF8&amp;hq=&amp;hnear=Africa&amp;ll=-8.783195,34.508523&amp;spn=71.733665,135.263672&amp;t=h&amp;z=4&amp;output=embed" >Show maps</a>
                                                    </i>
                                                   
                                              </div>
							                </div>
						                </div>
				                </li>
			                </ul>
		                </div>
				</div>
				
			</div>
		</div>
	</div>
</div>

<!-- ABOUT -->
<div class="slidePoint" id="slide2" data-slide="2" data-stellar-background-ratio="0.5">
    
	<div class="effect_2 padding_slide2">
		<div class="container clearfix">
			
		<div class="grid_12">
			<h1>About</h1>
			<h2>Cras urna leo, fringilla nec aliquam ac, varius in enim. Maecenas non felis</h2>
		</div>
		    
		</div>
	</div>
</div>

<div class="slidePoint" id="slide3" data-slide="3" data-stellar-background-ratio="0.5">
	<div class="container clearfix">
		
		<img class="icon_img" src="../images/icon2.jpg" alt=""/>
		<h4>Our Offers</h4>
	    <div class="grid_12 history">
		    
	        <div id="offers1" class="grid_4 serv_block">
	            <img class="images_travel1" src="http://placehold.it/580x382" alt=""/>
                 <img class="images_travel2" src="http://placehold.it/580x382" alt=""/>
                <img class="images_transparent" src="images/travel_transparent.png" alt=""/>
	            <p>Offers -60%</p>
	            <span>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus tempor ipsum vel</span>
	            <div class="serv_link1">Read More</div>
	            
	        </div>
	        <div id="offers2" class="grid_4 serv_block">
	            <!--<div class="icon_block2"></div>-->
	            <img class="images_travel1" src="http://placehold.it/580x382" alt=""/>
                 <img class="images_travel2" src="http://placehold.it/580x382" alt=""/>
                <img class="images_transparent" src="images/travel_transparent.png" alt=""/>
                
	            <p>Last minute</p>
	            <span>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus tempor ipsum vel</span>
	            <div class="serv_link1">Read More</div>
	            
	        </div>
	        <div id="offers3" class="grid_4 serv_block" style="margin-right:0">
	            <img class="images_travel1" src="http://placehold.it/580x382" alt=""/>
                 <img class="images_travel2" src="http://placehold.it/580x382" alt=""/>
                <img class="images_transparent" src="images/travel_transparent.png" alt=""/>
	            <p>Flights + Hotels</p>
	            <span>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus tempor ipsum vel</span>
	            <div class="serv_link1">Read More</div>
	           
	        </div>

	    </div>
        <div class="clear"></div>
      
	    <img class="icon_img" src="../images/icon3.jpg" alt=""/>
	    <h4>meet our awesome team?</h4>
	    <div class="clear"></div>
        
		<div class="relative">
			<div class="coordMap">
				<img src="../images/world_map.jpg" class="imgMap" alt=""/>
				<div class="marker" id="france" data-coords="960, 390">
				    <h3>France</h3>
				    <img src="http://placehold.it/200x164" alt=""/>
                    <h3>Sarah Brown</h3>
					<p>France, officially the French Republic. It is the largest west-European country and possesses second-largest Exclusive Economic Zone in the world.</p>
					<ul class="team_soc">
				        <li><a href="javascript:void(0);" class="soc1"></a></li>
				        <li><a href="javascript:void(0);" class="soc2"></a></li>
				        <li><a href="javascript:void(0);" class="soc3"></a></li>
				        <li><a href="javascript:void(0);" class="soc4"></a></li>
			        </ul>
				</div>
				<div class="marker" id="russia" data-coords="1240, 260"> <!-- 1240, 260 -->
				    <h3>Russia</h3>
				    <img src="http://placehold.it/200x164" alt=""/>
                    <h3>Chris Doe</h3>
					<p>Russia,  officially known as both Russia and the Russian Federation is a country in northern Eurasia. </p>
					<ul class="team_soc">
				        <li><a href="javascript:void(0);" class="soc1"></a></li>
				        <li><a href="javascript:void(0);" class="soc2"></a></li>
				        <li><a href="javascript:void(0);" class="soc3"></a></li>
				        <li><a href="javascript:void(0);" class="soc4"></a></li>
			        </ul>
				</div> 
				<div class="marker" id="poland" data-coords="1045, 345">
				    <h3>Poland</h3>
				    <img src="http://placehold.it/200x164" alt=""/>
                    <h3>Peter Smith</h3>
					<p>Poland, officially the Republic of Poland. The total area of Poland is 312,679 square kilometres (120,726 sq mi).</p>
					<ul class="team_soc">
				        <li><a href="javascript:void(0);" class="soc1"></a></li>
				        <li><a href="javascript:void(0);" class="soc2"></a></li>
				        <li><a href="javascript:void(0);" class="soc3"></a></li>
				        <li><a href="javascript:void(0);" class="soc4"></a></li>
			        </ul>
				</div>  
				<div class="marker" id="argentina" data-coords="585, 945">
				    <h3>Argentina</h3>
				    <img src="http://placehold.it/200x164" alt=""/>
                    <h3>Sarah Brown</h3>
					<p>Argentina, officially the Argentine Republic is the second largest country in South America by land area, after Brazil.</p>
					<ul class="team_soc">
				        <li><a href="javascript:void(0);" class="soc1"></a></li>
				        <li><a href="javascript:void(0);" class="soc2"></a></li>
				        <li><a href="javascript:void(0);" class="soc3"></a></li>
				        <li><a href="javascript:void(0);" class="soc4"></a></li>
			        </ul>
				</div>
				<div class="marker" id="australia2" data-coords="1710, 890">
				    <h3>Australia</h3>
				    <img src="http://placehold.it/200x164" alt=""/>
                    <h3>Chris Doe</h3>
					<p>Australia, officially the Commonwealth of Australia. is a country in the Southern Hemisphere comprising the mainland of the Australian continent, the island of Tasmania.</p>
					<ul class="team_soc">
				        <li><a href="javascript:void(0);" class="soc1"></a></li>
				        <li><a href="javascript:void(0);" class="soc2"></a></li>
				        <li><a href="javascript:void(0);" class="soc3"></a></li>
				        <li><a href="javascript:void(0);" class="soc4"></a></li>
			        </ul>
				</div>
				<div class="marker" id="egypt" data-coords="1100, 510">
				    <h3>Egypt</h3>
				    <img src="http://placehold.it/200x164" alt=""/>
                    <h3>Sarah Brown</h3>
					<p>Egypt, officially the Federative Republic of Brazil  is the largest country in South America. It is the world's fifth largest country, both by geographical area.</p>
					<ul class="team_soc">
				        <li><a href="javascript:void(0);" class="soc1"></a></li>
				        <li><a href="javascript:void(0);" class="soc2"></a></li>
				        <li><a href="javascript:void(0);" class="soc3"></a></li>
				        <li><a href="javascript:void(0);" class="soc4"></a></li>
			        </ul>
				</div>
				<div class="marker" id="usa" data-coords="395, 420">
				    <h3>USA</h3>
				    <img src="http://placehold.it/200x164" alt=""/>
                    <h3>Peter Smith</h3>
					<p>The United States of America (also called the United States, the U.S., the USA, America, and the States) is a federal constitutional republic comprising fifty states and a federal district. </p>
					<ul class="team_soc">
				        <li><a href="javascript:void(0);" class="soc1"></a></li>
				        <li><a href="javascript:void(0);" class="soc2"></a></li>
				        <li><a href="javascript:void(0);" class="soc3"></a></li>
				        <li><a href="javascript:void(0);" class="soc4"></a></li>
			        </ul>
				</div>
				<div class="marker" id="japan" data-coords="1720, 410">
				    <h3>Japan</h3>
				    <img src="http://placehold.it/200x164" alt=""/>
                    <h3>Chris Doe</h3>
					<p>Japan is an island nation in East Asia. Located in the Pacific Ocean, it lies to the east of the Sea of Japan, China, North Korea, South Korea and Russia.</p>
					<ul class="team_soc">
				        <li><a href="javascript:void(0);" class="soc1"></a></li>
				        <li><a href="javascript:void(0);" class="soc2"></a></li>
				        <li><a href="javascript:void(0);" class="soc3"></a></li>
				        <li><a href="javascript:void(0);" class="soc4"></a></li>
			        </ul>
				</div>
			</div>
			<div class="controls">
				<a href="#" title="france">France</a>
				<a href="#" title="russia">Russia</a>
				<a href="#" title="poland">Poland</a>
				<a href="#" title="argentina">Argentina</a>
				<a href="#" title="australia2">Australia</a>
				<a href="#" title="egypt">Egypt</a>
				<a href="#" title="usa">USA</a>
				<a href="#" title="japan">Japan</a>
			</div>
		</div>
	   <div class="meet-travel">
				    <h3>France</h3>
				    <img src="../images/team3.jpg" alt=""/>
                    <h3>Sarah Brown</h3>
					<p>France, officially the French Republic. It is the largest west-European country and possesses second-largest Exclusive Economic Zone in the world.</p>
					<ul class="team_soc">
				        <li><a href="javascript:void(0);" class="soc1"></a></li>
				        <li><a href="javascript:void(0);" class="soc2"></a></li>
				        <li><a href="javascript:void(0);" class="soc3"></a></li>
				        <li><a href="javascript:void(0);" class="soc4"></a></li>
			        </ul>
				</div>
				<div class="meet-travel"> <!-- 1240, 260 -->
				    <h3>Russia</h3>
				    <img src="../images/team2.jpg" alt=""/>
                    <h3>Chris Doe</h3>
					<p>Russia,  officially known as both Russia and the Russian Federation is a country in northern Eurasia. </p>
					<ul class="team_soc">
				        <li><a href="javascript:void(0);" class="soc1"></a></li>
				        <li><a href="javascript:void(0);" class="soc2"></a></li>
				        <li><a href="javascript:void(0);" class="soc3"></a></li>
				        <li><a href="javascript:void(0);" class="soc4"></a></li>
			        </ul>
				</div> 
				<div class="meet-travel">
				    <h3>Poland</h3>
				    <img src="../images/team1.jpg" alt=""/>
                    <h3>Peter Smith</h3>
					<p>Poland, officially the Republic of Poland. The total area of Poland is 312,679 square kilometres (120,726 sq mi).</p>
					<ul class="team_soc">
				        <li><a href="javascript:void(0);" class="soc1"></a></li>
				        <li><a href="javascript:void(0);" class="soc2"></a></li>
				        <li><a href="javascript:void(0);" class="soc3"></a></li>
				        <li><a href="javascript:void(0);" class="soc4"></a></li>
			        </ul>
				</div>
		<div class="clear"></div>
		
	</div>
</div>

<!-- TOURS -->
<div class="slidePoint" id="slide4" data-slide="4" data-stellar-background-ratio="0.5">
	<div class="effect_2 padding_slide4">
	    <div class="container clearfix">
	        <div class="grid_12">
	            <h1>Tours</h1>
	            <h2>Cras urna leo, fringilla nec aliquam ac, varius in enim. Maecenas non felis</h2>			
	        </div>
            
	    </div>
  
	</div>
</div>


<div class="slidePoint" id="slide5" data-slide="5" data-stellar-background-ratio="0.5">
	  <div id="container" class="container transitions-enabled infinite-scroll">
	      <div class="grid_12" style="margin-bottom: 0;">
	          <ul id="city_folio">
	              <li id="africa_folio" class="active">Africa</li>
	              <li id="europe_folio">Europe</li>
                  <li id="america_folio">America</li>
	          </ul>
	          <div class="africa box col4 hover-item">
	              <div class="view view-first">
	                  <img class="imgTop" alt="Ipsum" src="http://placehold.it/600x450"/>
	                  <div class="abs">
	                      <a class="fancybox zoom info" href="http://placehold.it/600x450"></a><a class="link info" href="info.html"></a>
	                  </div>	
	              </div>
	              <div class="layer_txt">
	                  <h3><a title="Some new Sketchs" rel="">Some new Sketchs</a></h3>
                      <span class="stars">
                        <img alt="" src="../images/star.png"/>
                        <img alt="" src="../images/star.png"/>
                        <img alt="" src="../images/star.png"/>
                        <img alt="" src="../images/star.png"/>
                       </span>
                      <div class="clear"></div>
	                  <p class="content_txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit porta. </p>
	                  <div class="extra_trip">
	                      <i class="icon-comment"><span>192</span></i>
	                      <i class="icon-glass"><span>All inclusive</span></i>
	                      <i class="icon-map-marker">
	                          <a class="show_maps" href="https://maps.google.com.mt/maps?f=q&amp;source=s_q&amp;hl=it&amp;geocode=&amp;q=africa&amp;aq=&amp;sll=-8.783195,34.508523&amp;sspn=121.214187,270.527344&amp;gl=mt&amp;g=Africa&amp;ie=UTF8&amp;hq=&amp;hnear=Africa&amp;ll=-8.783195,34.508523&amp;spn=71.733665,135.263672&amp;t=h&amp;z=4&amp;output=embed" >Show maps</a>
	                      </i>
                      </div>
	                  <div class="content_price"><a class="price_folio" href="#">$1200</a><a class="price_folio" href="info.html">More Info</a></div>
	              </div>
	          </div>

	          <div id="box1" class="africa box col4 hover-item">
	              <div class="view view-first">
	                  <img class="imgTop" alt="Ipsum" src="http://placehold.it/600x450"/>
	                  <div class="abs">
	                      <a class="fancybox zoom info" href="http://placehold.it/600x450"></a><a class="link info" href="info.html"></a>
	                  </div>	
	              </div>
	              <div class="layer_txt">
	                  <h3><a title="Some new Sketchs" rel="">Some new Sketchs</a></h3>
	                  <span class="stars">
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                  </span>
                      <div class="clear"></div>
	                  <p class="content_txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit porta. </p>
	                  <div class="extra_trip">
	                      <i class="icon-comment"><span>192</span></i>
	                      <i class="icon-glass"><span>All inclusive</span></i>
                          <i class="icon-map-marker">
	                          <a class="show_maps" href="https://maps.google.com.mt/maps?f=q&amp;source=s_q&amp;hl=it&amp;geocode=&amp;q=africa&amp;aq=&amp;sll=-8.783195,34.508523&amp;sspn=121.214187,270.527344&amp;gl=mt&amp;g=Africa&amp;ie=UTF8&amp;hq=&amp;hnear=Africa&amp;ll=-8.783195,34.508523&amp;spn=71.733665,135.263672&amp;t=h&amp;z=4&amp;output=embed" >Show maps</a>
	                      </i>
                      </div>
	                  <div class="content_price"><a class="price_folio" href="#">$1200</a><a class="price_folio" href="info.html">More Info</a></div>
	              </div>
	          </div>

	          <div id="box2" class="africa box col4 hover-item">
	              <div class="view view-first">
	                  <img class="imgTop" alt="Ipsum" src="http://placehold.it/600x450"/>
	                  <div class="abs">
	                      <a class="fancybox zoom info" href="http://placehold.it/600x450"></a><a class="link info" href="info.html"></a>
	                  </div>	
	              </div>
	              <div class="layer_txt">
	                  <h3><a title="Some new Sketchs" rel="">Some new Sketchs</a></h3>
	                  <span class="stars">
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                  </span>
                      <div class="clear"></div>
	                  <p class="content_txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit porta. </p>
	                  <div class="extra_trip">
	                      <i class="icon-comment"><span>192</span></i>
	                      <i class="icon-glass"><span>All inclusive</span></i>
                          <i class="icon-map-marker">
	                          <a class="show_maps" href="https://maps.google.com.mt/maps?f=q&amp;source=s_q&amp;hl=it&amp;geocode=&amp;q=africa&amp;aq=&amp;sll=-8.783195,34.508523&amp;sspn=121.214187,270.527344&amp;gl=mt&amp;g=Africa&amp;ie=UTF8&amp;hq=&amp;hnear=Africa&amp;ll=-8.783195,34.508523&amp;spn=71.733665,135.263672&amp;t=h&amp;z=4&amp;output=embed" >Show maps</a>
	                      </i>
                      </div>
	                  <div class="content_price"><a class="price_folio" href="#">$1200</a><a class="price_folio" href="info.html">More Info</a></div>
	              </div>
	          </div>
	          <div id="box3" class="africa box col4 hover-item">
	              <div class="view view-first">
	                  <img class="imgTop" alt="Ipsum" src="http://placehold.it/600x450"/>
	                  <div class="abs">
	                      <a class="fancybox zoom info" href="http://placehold.it/600x450"></a><a class="link info" href="info.html"></a>
	                  </div>	
	              </div>
	              <div class="layer_txt">
	                  <h3><a title="Some new Sketchs" rel="">Some new Sketchs</a></h3>
	                  <span class="stars">
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                  </span>
                      <div class="clear"></div>
	                  <p class="content_txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit porta. </p>
	                  <div class="extra_trip">
	                      <i class="icon-comment"><span>192</span></i>
	                      <i class="icon-glass"><span>All inclusive</span></i>
                          <i class="icon-map-marker">
	                          <a class="show_maps" href="https://maps.google.com.mt/maps?f=q&amp;source=s_q&amp;hl=it&amp;geocode=&amp;q=africa&amp;aq=&amp;sll=-8.783195,34.508523&amp;sspn=121.214187,270.527344&amp;gl=mt&amp;g=Africa&amp;ie=UTF8&amp;hq=&amp;hnear=Africa&amp;ll=-8.783195,34.508523&amp;spn=71.733665,135.263672&amp;t=h&amp;z=4&amp;output=embed" >Show maps</a>
	                      </i>
                      </div>
	                  <div class="content_price"><a class="price_folio" href="#">$1200</a><a class="price_folio" href="info.html">More Info</a></div>
	              </div>
	          </div>

	          <div id="box4" class="africa box col4 hover-item">
	              <div class="view view-first">
	                  <img class="imgTop" alt="Ipsum" src="http://placehold.it/600x450"/>
	                  <div class="abs">
	                      <a class="fancybox zoom info" href="http://placehold.it/600x450"></a><a class="link info" href="info.html"></a>
	                  </div>	
	              </div>
	              <div class="layer_txt">
	                  <h3><a title="Some new Sketchs" rel="">Some new Sketchs</a></h3>
	                  <span class="stars">
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                  </span>
                      <div class="clear"></div>
	                  <p class="content_txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit porta. </p>
	                  <div class="extra_trip">
	                      <i class="icon-comment"><span>192</span></i>
	                      <i class="icon-glass"><span>All inclusive</span></i>
                          <i class="icon-map-marker">
	                          <a class="show_maps" href="https://maps.google.com.mt/maps?f=q&amp;source=s_q&amp;hl=it&amp;geocode=&amp;q=africa&amp;aq=&amp;sll=-8.783195,34.508523&amp;sspn=121.214187,270.527344&amp;gl=mt&amp;g=Africa&amp;ie=UTF8&amp;hq=&amp;hnear=Africa&amp;ll=-8.783195,34.508523&amp;spn=71.733665,135.263672&amp;t=h&amp;z=4&amp;output=embed" >Show maps</a>
	                      </i>
                      </div>
	                  <div class="content_price"><a class="price_folio" href="#">$1200</a><a class="price_folio" href="info.html">More Info</a></div>
	              </div>
	          </div>

	          <div id="box5" class="africa box col4 hover-item">
	              <div class="view view-first">
	                  <img class="imgTop" alt="Ipsum" src="http://placehold.it/600x450"/>
	                  <div class="abs">
	                      <a class="fancybox zoom info" href="http://placehold.it/600x450"></a><a class="link info" href="info.html"></a>
	                  </div>	
	              </div>
	              <div class="layer_txt">
	                  <h3><a title="Some new Sketchs" rel="">Some new Sketchs</a></h3>
	                  <span class="stars">
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                  </span>
	                  <div class="clear"></div>
	                  <p class="content_txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit porta. </p>
	                  <div class="extra_trip">
	                      <i class="icon-comment"><span>192</span></i>
	                      <i class="icon-glass"><span>All inclusive</span></i>
	                      <i class="icon-map-marker">
	                          <a class="show_maps" href="https://maps.google.com.mt/maps?f=q&amp;source=s_q&amp;hl=it&amp;geocode=&amp;q=africa&amp;aq=&amp;sll=-8.783195,34.508523&amp;sspn=121.214187,270.527344&amp;gl=mt&amp;g=Africa&amp;ie=UTF8&amp;hq=&amp;hnear=Africa&amp;ll=-8.783195,34.508523&amp;spn=71.733665,135.263672&amp;t=h&amp;z=4&amp;output=embed" >Show maps</a>
	                      </i>
	                  </div>
	                  <div class="content_price"><a class="price_folio" href="#">$1200</a><a class="price_folio" href="info.html">More Info</a></div>
	              </div>
	          </div>

              <!--EUROPE-->
              <div class="europe box col4 hover-item">
	              <div class="view view-first">
	                  <img class="imgTop" alt="Ipsum" src="http://placehold.it/600x450"/>
	                  <div class="abs">
	                      <a class="fancybox zoom info" href="http://placehold.it/600x450"></a><a class="link info" href="info.html"></a>
	                  </div>	
	              </div>
	              <div class="layer_txt">
	                  <h3><a title="Some new Sketchs" rel="">Some new Sketchs</a></h3>
	                  <span class="stars">
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                  </span>
                      <div class="clear"></div>
	                  <p class="content_txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit porta. </p>
	                  <div class="extra_trip">
	                      <i class="icon-comment"><span>192</span></i>
	                      <i class="icon-glass"><span>All inclusive</span></i>
                          <i class="icon-map-marker">
	                          <a class="show_maps" href="https://www.google.it/maps?sll=41.442726,12.392577999999995&amp;sspn=12.757592603316278,22.715160604868103&amp;t=m&amp;q=Europa&amp;dg=opt&amp;ie=UTF8&amp;hq=&amp;hnear=Europa&amp;ll=49.5,22&amp;spn=26.529675,67.631836&amp;z=5&amp;output=embed" >Show maps</a>
	                      </i>
                      </div>
	                  <div class="content_price"><a class="price_folio" href="#">$1200</a><a class="price_folio" href="info.html">More Info</a></div>
	              </div>
	          </div>

	          <div class="europe box col4 hover-item">
	              <div class="view view-first">
	                  <img class="imgTop" alt="Ipsum" src="http://placehold.it/600x450"/>
	                  <div class="abs">
	                      <a class="fancybox zoom info" href="http://placehold.it/600x450"></a><a class="link info" href="info.html"></a>
	                  </div>	
	              </div>
	              <div class="layer_txt">
	                  <h3><a title="Some new Sketchs" rel="">Some new Sketchs</a></h3>
                      <span class="stars">
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                  </span>
                      <div class="clear"></div>
	                  <p class="content_txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit porta. </p>
	                  <div class="extra_trip">
	                      <i class="icon-comment"><span>192</span></i>
	                      <i class="icon-glass"><span>All inclusive</span></i>
                          <i class="icon-map-marker">
	                          <a class="show_maps" href="https://www.google.it/maps?sll=41.442726,12.392577999999995&amp;sspn=12.757592603316278,22.715160604868103&amp;t=m&amp;q=Europa&amp;dg=opt&amp;ie=UTF8&amp;hq=&amp;hnear=Europa&amp;ll=49.5,22&amp;spn=26.529675,67.631836&amp;z=5&amp;output=embed" >Show maps</a>
	                      </i>
                      </div>
	                  <div class="content_price"><a class="price_folio" href="#">$1200</a><a class="price_folio" href="info.html">More Info</a></div>
	              </div>
	          </div>

	          <div class="europe box col4 hover-item">
	              <div class="view view-first">
	                  <img class="imgTop" alt="Ipsum" src="http://placehold.it/600x450"/>
	                  <div class="abs">
	                      <a class="fancybox zoom info" href="http://placehold.it/600x450"></a><a class="link info" href="info.html"></a>
	                  </div>	
	              </div>
	              <div class="layer_txt">
	                  <h3><a title="Some new Sketchs" rel="">Some new Sketchs</a></h3>
	                  <span class="stars">
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                  </span>
	                  <div class="clear"></div>
	                  <p class="content_txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit porta. </p>
	                  <div class="extra_trip">
	                      <i class="icon-comment"><span>192</span></i>
	                      <i class="icon-glass"><span>All inclusive</span></i>
	                      <i class="icon-map-marker">
	                          <a class="show_maps" href="https://www.google.it/maps?sll=41.442726,12.392577999999995&amp;sspn=12.757592603316278,22.715160604868103&amp;t=m&amp;q=Europa&amp;dg=opt&amp;ie=UTF8&amp;hq=&amp;hnear=Europa&amp;ll=49.5,22&amp;spn=26.529675,67.631836&amp;z=5&amp;output=embed" >Show maps</a>
	                      </i>
	                  </div>
	                  <div class="content_price"><a class="price_folio" href="#">$1200</a><a class="price_folio" href="info.html">More Info</a></div>
	              </div>
	          </div>

              <!--AMERICA-->
              <div class="america box col4 hover-item">
	              <div class="view view-first">
	                  <img class="imgTop" alt="Ipsum" src="http://placehold.it/600x450"/>
	                  <div class="abs">
	                      <a class="fancybox zoom info" href="http://placehold.it/600x450"></a><a class="link info" href="info.html"></a>
	                  </div>	
	              </div>
	              <div class="layer_txt">
	                  <h3><a title="Some new Sketchs" rel="">Some new Sketchs</a></h3>
                      <span class="stars">
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                  </span>
                      <div class="clear"></div>
	                  <p class="content_txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit porta. </p>
	                  <div class="extra_trip">
	                      <i class="icon-comment"><span>192</span></i>
	                      <i class="icon-glass"><span>All inclusive</span></i>
                          <i class="icon-map-marker">
	                          <a class="show_maps" href="https://maps.google.com/?ie=UTF8&amp;ll=35.995785,-92.768555&amp;spn=30.889102,67.631836&amp;t=h&amp;z=5&amp;output=embed" >Show maps</a>
	                      </i>
                      </div>
	                  <div class="content_price"><a class="price_folio" href="#">$1200</a><a class="price_folio" href="info.html">More Info</a></div>
	              </div>
	          </div>

	          <div class="america box col4 hover-item">
	              <div class="view view-first">
	                  <img class="imgTop" alt="Ipsum" src="http://placehold.it/600x450"/>
	                  <div class="abs">
	                      <a class="fancybox zoom info" href="http://placehold.it/600x450"></a><a class="link info" href="info.html"></a>
	                  </div>	
	              </div>
	              <div class="layer_txt">
	                  <h3><a title="Some new Sketchs" rel="">Some new Sketchs</a></h3>
                      <span class="stars">
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                  </span>
                      <div class="clear"></div>
	                  <p class="content_txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit porta. </p>
	                  <div class="extra_trip">
	                      <i class="icon-comment"><span>192</span></i>
	                      <i class="icon-glass"><span>All inclusive</span></i>
                          <i class="icon-map-marker">
	                          <a class="show_maps" href="https://maps.google.com/?ie=UTF8&amp;ll=35.995785,-92.768555&amp;spn=30.889102,67.631836&amp;t=h&amp;z=5&amp;output=embed" >Show maps</a>
	                      </i>
                      </div>
	                  <div class="content_price"><a class="price_folio" href="#">$1200</a><a class="price_folio" href="info.html">More Info</a></div>
	              </div>
	          </div>

	          <div class="america box col4 hover-item">
	              <div class="view view-first">
	                  <img class="imgTop" alt="Ipsum" src="http://placehold.it/600x450"/>
	                  <div class="abs">
	                      <a class="fancybox zoom info" href="http://placehold.it/600x450"></a><a class="link info" href="info.html"></a>
	                  </div>	
	              </div>
	              <div class="layer_txt">
	                  <h3><a title="Some new Sketchs" rel="">Some new Sketchs</a></h3>
	                  <span class="stars">
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                  </span>
	                  <div class="clear"></div>
	                  <p class="content_txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit porta. </p>
	                  <div class="extra_trip">
	                      <i class="icon-comment"><span>192</span></i>
	                      <i class="icon-glass"><span>All inclusive</span></i>
	                      <i class="icon-map-marker">
	                          <a class="show_maps" href="https://maps.google.com/?ie=UTF8&amp;ll=35.995785,-92.768555&amp;spn=30.889102,67.631836&amp;t=h&amp;z=5&amp;output=embed" >Show maps</a>
	                      </i>
	                  </div>
	                  <div class="content_price"><a class="price_folio" href="#">$1200</a><a class="price_folio" href="info.html">More Info</a></div>
	              </div>
	          </div>
	          <div class="america box col4 hover-item">
	              <div class="view view-first">
	                  <img class="imgTop" alt="Ipsum" src="http://placehold.it/600x450"/>
	                  <div class="abs">
	                      <a class="fancybox zoom info" href="http://placehold.it/600x450"></a><a class="link info" href="info.html"></a>
	                  </div>	
	              </div>
	              <div class="layer_txt">
	                  <h3><a title="Some new Sketchs" rel="">Some new Sketchs</a></h3>
	                  <span class="stars">
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                  </span>
	                  <div class="clear"></div>
	                  <p class="content_txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit porta. </p>
	                  <div class="extra_trip">
	                      <i class="icon-comment"><span>192</span></i>
	                      <i class="icon-glass"><span>All inclusive</span></i>
	                      <i class="icon-map-marker">
	                          <a class="show_maps" href="https://maps.google.com/?ie=UTF8&amp;ll=35.995785,-92.768555&amp;spn=30.889102,67.631836&amp;t=h&amp;z=5&amp;output=embed" >Show maps</a>
	                      </i>
	                  </div>
	                  <div class="content_price"><a class="price_folio" href="#">$1200</a><a class="price_folio" href="info.html">More Info</a></div>
	              </div>
	          </div>
	          <div class="america box col4 hover-item">
	              <div class="view view-first">
	                  <img class="imgTop" alt="Ipsum" src="http://placehold.it/600x450"/>
	                  <div class="abs">
	                      <a class="fancybox zoom info" href="http://placehold.it/600x450"></a><a class="link info" href="info.html"></a>
	                  </div>	
	              </div>
	              <div class="layer_txt">
	                  <h3><a title="Some new Sketchs" rel="">Some new Sketchs</a></h3>
	                  <span class="stars">
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                  </span>
	                  <div class="clear"></div>
	                  <p class="content_txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit porta. </p>
	                  <div class="extra_trip">
	                      <i class="icon-comment"><span>192</span></i>
	                      <i class="icon-glass"><span>All inclusive</span></i>
	                      <i class="icon-map-marker">
	                          <a class="show_maps" href="https://maps.google.com/?ie=UTF8&amp;ll=35.995785,-92.768555&amp;spn=30.889102,67.631836&amp;t=h&amp;z=5&amp;output=embed" >Show maps</a>
	                      </i>
	                  </div>
	                  <div class="content_price"><a class="price_folio" href="#">$1200</a><a class="price_folio" href="info.html">More Info</a></div>
	              </div>
	          </div>
              <div class="america box col4 hover-item">
	              <div class="view view-first">
	                  <img class="imgTop" alt="Ipsum" src="http://placehold.it/600x450"/>
	                  <div class="abs">
	                      <a class="fancybox zoom info" href="http://placehold.it/600x450"></a><a class="link info" href="info.html"></a>
	                  </div>	
	              </div>
	              <div class="layer_txt">
	                  <h3><a title="Some new Sketchs" rel="">Some new Sketchs</a></h3>
	                  <span class="stars">
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                      <img alt="" src="../images/star.png"/>
	                  </span>
                      <div class="clear"></div>
	                  <p class="content_txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit porta. </p>
	                  <div class="extra_trip">
	                      <i class="icon-comment"><span>192</span></i>
	                      <i class="icon-glass"><span>All inclusive</span></i>
                          <i class="icon-map-marker">
	                          <a class="show_maps" href="https://maps.google.com/?ie=UTF8&amp;ll=35.995785,-92.768555&amp;spn=30.889102,67.631836&amp;t=h&amp;z=5&amp;output=embed" >Show maps</a>
	                      </i>
                      </div>
	                  <div class="content_price"><a class="price_folio" href="#">$1200</a><a class="price_folio" href="info.html">More Info</a></div>
	              </div>
	          </div>
	      </div>
        </div> <!-- #container -->
</div>

<div class="slidePoint" id="slide6" data-slide="6" data-stellar-background-ratio="0.5">
	<div class="padding_slide5">
		<div class="bord_top"></div>
		<div class="container clearfix">
			<div  class="grid_12">
			</div>
		</div>
		
		<div class="flexslider">
			<ul class="slides">
			    <li><div class="flex-caption">
                        <div class="content-flex-img"><img src="http://placehold.it/215x153" alt=""/></div>
			            <div class="flex-content">
			                <h3>Adventure in the woods</h3>
			                <p>3 Day October / November</p>
			                <i class="icon-comment"><span>192</span></i>
			                <i class="icon-glass"><span>All inclusive</span></i>
			                <p class="price_gallery">$399</p>
                        </div>
			        </div>
                <img src="http://placehold.it/1600x1200" alt=""/></li>
			    <li><div class="flex-caption">
			            <div class="content-flex-img"><img src="http://placehold.it/215x153" alt=""/></div>
			            <div class="flex-content">
			                <h3>Relax into sea</h3>
			                <p>5 Day June / September</p>
			                <i class="icon-comment"><span>192</span></i>
			                <i class="icon-glass"><span>All inclusive</span></i>
			                <p class="price_gallery">$600</p>
			            </div>
                    </div>
                    <img src="http://placehold.it/1600x1200" alt=""/>
			    </li>
			    <li><div class="flex-caption">
			            <div class="content-flex-img"><img src="http://placehold.it/215x153" alt=""/></div>
			            <div class="flex-content">
			                <h3>Adventure in the woods</h3>
			                <p>3 Day October / November</p>
			                <i class="icon-comment"><span>192</span></i>
			                <i class="icon-glass"><span>All inclusive</span></i>
			                <p class="price_gallery">$500</p>
			            </div>
                    </div>
                    <img src="http://placehold.it/1600x1200" alt=""/>
			    </li>
			    <li><div class="flex-caption">
			            <div class="content-flex-img"><img src="http://placehold.it/215x153" alt=""/></div>
			            <div class="flex-content">
			                <h3>Adventure in the world</h3>
			                <p>4 Day June / September</p>
			                <i class="icon-comment"><span>192</span></i>
			                <i class="icon-glass"><span>All inclusive</span></i>
			                <p class="price_gallery">$1200</p>
			            </div>
                    </div>
                    <img src="http://placehold.it/1600x1200" alt=""/>
			    </li>
			    <li><div class="flex-caption">
			            <div class="content-flex-img"><img src="http://placehold.it/215x153" alt=""/></div>
			            <div class="flex-content">
			                <h3>Adventure in the world</h3>
			                <p>5 Day October / November</p>
			                <i class="icon-comment"><span>192</span></i>
			                <i class="icon-glass"><span>All inclusive</span></i>
			                <p class="price_gallery">$1200</p>
			            </div>
                    </div>
                    <img src="http://placehold.it/1600x1200" alt=""/>
			    </li>
			    <li><div class="flex-caption">
			            <div class="content-flex-img"><img src="http://placehold.it/215x153" alt=""/></div>
			            <div class="flex-content">
			                <h3>Adventure in the world</h3>
			                <p>3 Day June / September</p>
			                <i class="icon-comment"><span>192</span></i>
			                <i class="icon-glass"><span>All inclusive</span></i>
			                <p class="price_gallery">$700</p>
			            </div>
                    </div>
                    <img src="http://placehold.it/1600x1200" alt=""/>
			    </li>
			    <li><div class="flex-caption">
			            <div class="content-flex-img"><img src="http://placehold.it/215x153" alt=""/></div>
			            <div class="flex-content">
			                <h3>Adventure in the woods</h3>
			                <p>3 Day October / November</p>
			                <i class="icon-comment"><span>192</span></i>
			                <i class="icon-glass"><span>All inclusive</span></i>
			                <p class="price_gallery">$1200</p>
			            </div>
                    </div>
                    <img src="http://placehold.it/1600x1200" alt=""/>
			    </li>
			    <li><div class="flex-caption">
			            <div class="content-flex-img"><img src="http://placehold.it/215x153" alt=""/></div>
			            <div class="flex-content">
			                <h3>Adventure in the world</h3>
			                <p>3 Day June / September</p>
			                <i class="icon-comment"><span>192</span></i>
			                <i class="icon-glass"><span>All inclusive</span></i>
			                <p class="price_gallery">$600</p>
			            </div>
                    </div>
                    <img src="http://placehold.it/1600x1200" alt=""/>
			    </li>
			    <li><div class="flex-caption">
			            <div class="content-flex-img"><img src="http://placehold.it/215x153" alt=""/></div>
			            <div class="flex-content">
			                <h3>Adventure in the world</h3>
			                <p>3 Day October / November</p>
			                <i class="icon-comment"><span>192</span></i>
			                <i class="icon-glass"><span>All inclusive</span></i>
			                <p class="price_gallery">$1200</p>
			            </div>
                    </div>
                    <img src="http://placehold.it/1600x1200" alt=""/>
			    </li>
			</ul>
		</div>
		
	</div>
</div>


    <div class="slidePoint" id="slide10" data-slide="10" data-stellar-background-ratio="0.5" >
	<div class="container clearfix" >
		
		<div class="grid_12 tit_contact">
			<h1><span>Contact</span></h1>
			<h2>Cras urna leo, fringilla nec aliquam ac, varius in enim. Maecenas non felis</h2>
		</div>
		<div class="clear"></div>
		
		<div class="grid_4 serv_block_contact form_contact" >
			<img class="icon_img" src="../images/icon5.jpg" alt=""/>
			<h4>Contact form</h4>
			<div class="clear"></div>
			<div class="contact_form">  
				<div id="note"></div>
				<div id="fields">
					<form id="ajax-contact-form" action="#">
						<input type="text" name="name" value="" placeholder="Name" />
						<input type="text" name="email" value="" placeholder="Email" />
						<textarea name="message" id="message" placeholder="Message"></textarea>
						<div class="clear"></div>
						<input type="reset" class="contact_btn" value="Clear Form" />
						<input type="submit" class="contact_btn send_btn" value="Send" />
						<div class="clear"></div>
					</form>
				</div>
			</div>
		</div>
		<div class="grid_4 contact_det_block serv_block_contact details_contact">
			<img class="icon_img" src="../images/icon4.jpg" alt=""/>
			<h4>Details</h4>
			<div class="clear"></div>
			<ul class="foot_block_intouch">
				<li class="touch_phone"><p>(+1) 245 5462 252</p></li>
				<li class="touch_clock"><p>Mon - Sat 9:00am - 6:00 pm</p></li>
				<li class="touch_mail"><a href="mailto:support@lorem.com">support@lorem.com</a></li>
				<li class="touch_site"><a href="javascript:void(0);">www.lorem.com</a></li>
				<li class="touch_adress"><p>3301 Lorem, Dolor Sit Amet St</p></li>
				<li class="facebook"><a href="javascript:void(0);">http://facebook.com/companyname</a></li>
				<li class="twitter"><a href="javascript:void(0);">http://twitter.com/companyname</a></li>
			</ul>
		</div>
		<div class="grid_4 contact_det_block omega serv_block_contact">
			<img class="icon_img" src="../images/icon6.jpg" alt=""/>
			<h4>Information</h4>
			<div class="clear"></div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere viverra sapien, vel elementum arcu ultrices a.</p>
		    <p>Pellentesque suscipit quam eu ante volutpat ut rutrum sapien bibendum. Praesent pellentesque convallis egestas. Ut egestas gravida lacus, 
            sit amet viverra leo hendrerit at. Donec leo sem, semper a interdum quis, varius id ante.</p>
		</div>
		<div class="clear"></div>

	</div>
	
	<div id="map_container">
			<div id="map_canvas"></div>
		</div>
</div>


    <div id="footer">
        <div class="container clearfix">
            <div class="copyright">Travel the World &copy; 2020 | <a href="javascript:void(0);">Privacy Policy</a></div>
            <div id="back_top"><a class="button" title="" data-slide="1"></a></div>
        </div>
    </div>
    
    <script src="js/jquery.transit.js" type="text/javascript"></script>
    <script src="js/slider/functions.js" type="text/javascript"></script>

	<script type="text/javascript" src="js/radio.js"></script>
	<script type="text/javascript" src="js/JScript.js"></script>
	<script type="text/javascript" src="js/jquery.stellar.min.js"></script>
	<script type="text/javascript" src="js/waypoints.min.js"></script>
    
    <script src="js/coordmap.js" type="text/javascript"></script>
    <script src="js/init.js" type="text/javascript"></script>
    
    <!--Google Maps -->
    <script type="text/javascript">
        function initialize() {
            var styleArray = [
            {
                featureType: 'all',
                stylers: [
                { saturation: 20 }
                ]
            }, {
                featureType: 'road.arterial',
                elementType: 'geometry',
                stylers: [
                { hue: '#00ffee' },
                { saturation: 50 }
                ]
            }, {
                featureType: 'poi.business',
                elementType: 'labels',
                stylers: [
                { visibility: 'off' }
                ]
            }
            ];


            var latlng = new google.maps.LatLng(45.466, 9.186);
            var myOptions = {
                zoom: 12,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                styles: styleArray,
                mapTypeControl: false,
                panControl: false,
                streetViewControl: false,
                zoomControl: false,

                scaleControl: true,
                scaleControlOptions: {
                    position: google.maps.ControlPosition.BOTTOM_LEFT
                }
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"),
			    myOptions);
        }
    </script>
    <script src="js/jquery.jcarousel.js" type="text/javascript"></script>
    <script src="js/jquery.fancybox-1.3.4.pack.js" type="text/javascript"></script>
    <script type="text/javascript">
        //JSHint Validated Custom JS Code
        $(document).ready(function () {
            // Contact Form
            $("#ajax-contact-form").submit(function (e) {
                e.preventDefault();
                var name = $("#name").val();
                var email = $("#email").val();
                var text = $("#message").val();
                var dataString = 'name=' + name + '&email=' + email + '&message=' + text;
                function isValidEmail(emailAddress) {
                    var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
                    return pattern.test(emailAddress);
                };

                if (isValidEmail(email) && (text.length > 20) && (name.length > 1)) {
                    $.ajax({
                        type: "POST",
                        url: "contact_form/contact_process.php",
                        data: dataString,
                        success: function () {
                            $('.success').fadeIn(1000);
                        }
                    });
                } else {
                    $('.error').fadeIn(1000);
                }

                return false;
            });

        });
    </script>
    <div id="valHeight"></div>
	
    <script type="text/javascript">	    /*$($.date_input.initialize);*/</script>
    <!--SlidetTop-->
	<!-- jQuery KenBurn Slider  -->	
	<script type="text/javascript" src="js/slide/jquery.themepunch.plugins.min.js"></script>			
    <script type="text/javascript" src="js/slide/jquery.themepunch.revolution.min.js"></script>	

     <!--Slider-->
    
    
    <!--
			##############################
			 - ACTIVATE THE BANNER HERE -
			##############################
			-->
			<script type="text/javascript">
			    //JSHint Validated Custom JS Code
			    /*jslint smarttabs:true */
			    var tpj = jQuery;
			    tpj(document).ready(function () {

			        if (tpj.fn.cssOriginal !== undefined)
			            tpj.fn.css = tpj.fn.cssOriginal;

			        tpj('.fullwidthbanner').revolution(
                {
                    delay: 9000,
                    startwidth: 890,
                    startheight: 650,
                    onHoverStop: 'on',
                    thumbWidth: 100, thumbHeight: 50,
                    thumbAmount: 4,
                    hideThumbs: 200, navigationType: 'both',
                    navigationArrows: "verticalcentered",
                    navigationStyle: "round",
                    touchenabled: "on",
                    navOffsetHorizontal: 0,
                    navOffsetVertical: 20,
                    fullWidth: "on",
                    shadow: 0
                });
			    });
    </script>
        <!--And Slider-->	
</body>
</html>
