<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="css/jquery-ui-1.10.1.custom.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="css/normalize.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="css/grid.css" type="text/css" media="screen"/>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'/>
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'/>
    <link href="css/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://malsup.github.io/jquery.cycle2.js"></script>    
    <link href="css/style_details.css" rel="stylesheet" type="text/css" />
</head>
    <body>
      <div class="menu-top slidePoint">	
        <div class="container clearfix">

            <div id="logo" class="fleft">
                <a href="javascript:void(0);"><img src="images/logo.png" alt=""/></a>
            </div>
		
            <div id="nav" class="fright">
                <a href="index.html"><i class="icon-reply"></i></a>
            </div>
	   
        </div>
    
    </div>
        <div id="info-pages" class="container clearfix" style="margin-top: 90px;">
            <div class="grid_12" style="margin-bottom: 0">
                <div class="grid_6"> 
                 <div class="cycle-slideshow featured-image" data-cycle-fx="scrollHorz" data-cycle-timeout="2000">
                    <div class="cycle-pager"></div>
                    <div class="cycle-caption"></div>

                    <img src="http://placehold.it/527x395" alt=""/>
                    <img src="http://placehold.it/527x395" alt=""/>
                    <img src="http://placehold.it/527x395" alt=""/>
                    
                   </div>
                </div>
                <div class="grid_6 info_trip" style="margin-right: 0;">
                    
                    <ul class="tour-meta">
                        <li><i class="icon-map-marker"></i><strong>Destination:</strong> Thailand</li>				
                        <li><i class="icon-time"></i><span></span><strong>Duration:</strong> 7 days</li>		
                        <li><i class="icon-money"></i><span></span><strong>Price:</strong> $589</li>		
                    </ul>
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas vehicula porttitor condimentum. Curabitur id lobortis lectus. Praesent tincidunt blandit feugiat. Donec sollicitudin vulputate orci eget commodo justo pulvinar rumus.</p>
                    <p>Nullam tempor, magna ac tempus rutrum, quam metus pharetra enim, at luctus tortor sapien eget eros. Morbi mattis, arcu nec semper aliquet, tortor augue eleifend tellus, at consequat magna sapien id metus. Nulla commodo vulputate feugiat. 
                        Nam vel ante massa, eget semper enim. Mauris fermentum ipsum eu lacus fringilla dignissim. Curabitur eget ante tellus.  
                       </p>
                        <input type="submit" class="contact_btn send_btn" value="Book Now" />
                        <input type="reset" class="contact_btn" value="Ask a Question" />
					
                </div>
            </div>  
            <div class="grid_12 str_description">
                <img class="icon_img" src="images/icon3.jpg" alt=""/>
                <h4>DETAILS STRUCTURE</h4>
                <strong>Description of the structure:</strong>
                <p>Small apartment complex located in the Ca Mari, 9 km from the lively resort of Es Pujols, 2 km from San Ferran and only 300 meters from the beach of Mitjorn.</p>
                <strong>Facilities and services:</strong>
                <p>Cleaning every other day and towels changed daily. Swimming pool, TV room, children's play area, restaurant, bar and nearby shops and supermarkets. Bus stop 50 meters away. Pets not allowed.</p>
            </div>
            <div class="grid_12 info-footer-img" >
                <div class="grid_4" >
                    <div class="bubble-text">
                            <div class="featured-image">
                                <img  alt="" src="http://placehold.it/260x161"/>
                            </div>
                        <div class="column last">
                            <h5>Bangkok City Tour</h5>
                            Integer congue pulvinar euismod. Aenean eget risus massa. Nunc urna metus, tincidunt et pellentesque ac, ultrices in eros. 
                            Nullam lacus neque, luctus eget posuere quis, luctus amet.</div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="grid_4" >
                    <div class="bubble-text">
 
                            <div class="featured-image">
                                <img  alt="" src="http://placehold.it/260x161"/>
                            </div>
 
                        <div class="column last">
                            <h5>Bangkok City Tour</h5>
                            Integer congue pulvinar euismod. Aenean eget risus massa. Nunc urna metus, tincidunt et pellentesque ac, ultrices in eros. 
                            Nullam lacus neque, luctus eget posuere quis, luctus amet.</div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="grid_4" style="margin-right: 0">
                    <div class="bubble-text">
         
                            <div class="featured-image">
                                <img  alt="" src="http://placehold.it/260x161"/>
                            </div>
      
                        <div class="column last">
                            <h5>Bangkok City Tour</h5>
                            Integer congue pulvinar euismod. Aenean eget risus massa. Nunc urna metus, tincidunt et pellentesque ac, ultrices in eros. 
                            Nullam lacus neque, luctus eget posuere quis, luctus amet.</div>
                        <div class="clear"></div>
                    </div>
                </div>
                
            </div>     
        </div>

    <div id="footer">
        <div class="container clearfix">
            <div class="copyright">Travel the World &copy; 2020 | <a href="javascript:void(0);">Privacy Policy</a></div>
            
        </div>
    </div>
    </body>
</html>
